.categories__title {
    color: white;
    font-size: 50px;
    margin-top: 3%;
    position: absolute;
    padding-left: 30px;
    width: 100%;
  }

@media (min-width: 375px) and (max-width: 767px) {
  .categories__title {
    font-size: 40px;
    margin-top: 15%;
  }
}
