.intro {
  height: 100vh;
}

h1 {
  font-size: 50px !important;
}

p {
  font-size: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.content-photo {
  display: flex;
  align-items: center;
}

.photo {
  width: 350px;
  height: 350px;
  border-radius: 999px;
  margin: auto;
  // margin-top: 5%;
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .intro {
    height: 85vh;
  }

  .photo {
    width: 300px;
    height: 300px;
    border-radius: 999px;
    margin: auto;
    margin-top: 10%;
  }

}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 350px) and (max-width: 767px) {
  .intro {
    height: 85vh;
  }

  h1 {
    font-size: 20px !important;
  }

  p {
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    padding: 0 3% 0 3%;
  }

  .photo {
    width: 200px;
    height: 200px;
    border-radius: 999px;
    margin: auto;
    margin-top: 25%;
  }

  .content-photo {
    height: auto;
  }


}
