.loader__container{
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.loader__content{
  margin: auto;
  .loader{
      width: 100px;
      height: 100px;
  }
}

.external_link__a {
  text-decoration: underline;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Portrait)
  ##Screen = B/w 375px to 766px
*/

@media (min-width: 350px) and (max-width: 766px) {
 .loader{
    width: 40px !important ;
    height: 40px !important;
  }
}
